In [1]:
import pandas as pd
import pathlib
import numpy as np

### Save annotations for genes with homeodomains

In [7]:
def find_name_in_row(annot_df, pattern):
    return annot_df[annot_df.apply(lambda row: row.astype(str).str.contains(pattern, case=False).any(), axis=1)]

In [8]:
worms = ['Pele','Pdum']
for worm in worms:
    combine_annotation_file = f'C:/worms/new/combined_annotations/{worm}_combined_annotation.csv'
    annotation_df = pd.read_csv(combine_annotation_file, sep='\t')
    find_name_in_row(annotation_df, 'Homeodomain|Homeobox')\
        .to_csv(f'C:/worms/new/{worm}_homeobox_annotations.csv', index=False, sep='\t')

In [2]:
p = pathlib.Path(r'C:\worms\new\pbx_like\trimmed_aligned_PBX_Spiralia.fasta')
fasta_dict = {}
with open(p,'r') as fasta_file:
    for line in fasta_file:
        if line.startswith('>'):
            fasta_name = line.rstrip()
        else:
            fasta_dict

### Add data about clusters of gene expression for homeobox genes

Load annotations

In [3]:
Pdum_homeobox_annotations = pd.read_csv\
    (pathlib.Path(r'C:\worms\new\combined_annotations\Pdum_homeobox_annotations.csv'), sep='\t')
Pdum_homeobox_annotations['clusters'] = ''
Pdum_homeobox_annotations.head()

,query,seed_ortholog,evalue,score,eggNOG_OGs,max_annot_lvl,COG_category,Description,Preferred_name,GOs,...,KEGG_Module,KEGG_Reaction,KEGG_rclass,BRITE,KEGG_TC,CAZy,BiGG_Reaction,PFAMs,hmmsearch_pfam_domains,clusters
0,Pdum_DN1243_c0_g1_i44,6412.HelroP155469,5.1e-161,474.0,"KOG0773@1|root,KOG0773@2759|Eukaryota,38E6H@33...",33208|Metazoa,K,regulation of cardiac muscle myoblast prolifer...,MEIS2,"GO:0000122,GO:0000976,GO:0000977,GO:0000978,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,"Homeobox_KN,Meis_PKNOX_N","Homeobox_KN, Homeodomain, Meis_PKNOX_N",
1,Pdum_DN13243_c0_g1_i14,126957.SMAR003960-PA,6.48e-137,410.0,"KOG0773@1|root,KOG0773@2759|Eukaryota,38GSB@33...",33208|Metazoa,K,N-terminal of Homeobox Meis and PKNOX1,PKNOX2,"GO:0000976,GO:0000977,GO:0000981,GO:0001012,GO...",...,-,-,-,-,-,-,-,"Homeobox_KN,Meis_PKNOX_N","Homeobox_KN, Homeodomain, Meis_PKNOX_N",
2,Pdum_DN13531_c0_g1_i16,7739.XP_002609066.1,1.73e-77,244.0,"KOG0488@1|root,KOG0488@2759|Eukaryota,38GM0@33...",33208|Metazoa,K,negative regulation of dendrite morphogenesis,TLX3,"GO:0000981,GO:0001228,GO:0001704,GO:0001707,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,Homeobox,Homeodomain,
3,Pdum_DN13559_c0_g1_i20,126957.SMAR006755-PA,2.93e-39,147.0,"KOG0490@1|root,KOG0490@2759|Eukaryota,3A22W@33...",33208|Metazoa,K,sequence-specific DNA binding. It is involved ...,repo,"GO:0000976,GO:0000977,GO:0000981,GO:0000982,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,"Homeobox,OAR","Homeobox_KN, Homeodomain, OAR",
4,Pdum_DN13559_c0_g1_i8,126957.SMAR006755-PA,2.93e-39,147.0,"KOG0490@1|root,KOG0490@2759|Eukaryota,3A22W@33...",33208|Metazoa,K,sequence-specific DNA binding. It is involved ...,repo,"GO:0000976,GO:0000977,GO:0000981,GO:0000982,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,"Homeobox,OAR","Homeobox_KN, Homeodomain, OAR",

In [4]:
Pele_homeobox_annotations = pd.read_csv\
    (pathlib.Path(r'C:\worms\new\combined_annotations\Pele_homeobox_annotations.csv'), sep='\t')
Pele_homeobox_annotations['clusters'] = ''
Pele_homeobox_annotations.head()

,query,seed_ortholog,evalue,score,eggNOG_OGs,max_annot_lvl,COG_category,Description,Preferred_name,GOs,...,KEGG_Module,KEGG_Reaction,KEGG_rclass,BRITE,KEGG_TC,CAZy,BiGG_Reaction,PFAMs,hmmsearch_pfam_domains,clusters
0,Pele_DN137_c0_g2_i1,7955.ENSDARP00000117693,1.11e-38,149.0,"KOG0489@1|root,KOG0842@2759|Eukaryota,39P9G@33...",33208|Metazoa,K,NK2 transcription factor related 2a,NKX2-2,"GO:0000122,GO:0000902,GO:0000904,GO:0000976,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,Homeobox,Homeodomain,
1,Pele_DN137_c0_g2_i3,6500.XP_005089677.1,7.66e-130,417.0,"KOG0800@1|root,KOG0800@2759|Eukaryota,38DHK@33...",33208|Metazoa,O,"Zinc finger, SWIM-type containing 2",ZSWIM2,"GO:0000209,GO:0003674,GO:0003824,GO:0004842,GO...",...,-,-,-,"ko00000,ko00001,ko01000,ko04030,ko04121",-,-,-,"Homeobox,SWIM,ZZ,zf-RING_2","Homeodomain, SWIM, zf-C3HC4, zf-C3HC4_2, zf-rb...",
2,Pele_DN137_c0_g2_i7,126957.SMAR012980-PA,2.64e-38,147.0,"KOG0489@1|root,KOG0842@2759|Eukaryota,39P9G@33...",33208|Metazoa,K,sequence-specific DNA binding. It is involved ...,NKX2-2,"GO:0000122,GO:0000902,GO:0000904,GO:0000976,GO...",...,-,-,-,"ko00000,ko00001,ko03000",-,-,-,Homeobox,Homeodomain,
3,Pele_DN13913_c0_g1_i11,7070.TC001291-PA,7.659999999999999e-81,261.0,"KOG0490@1|root,KOG0490@2759|Eukaryota,396MF@33...",33208|Metazoa,K,binding. It is involved in the biological proc...,-,"GO:0000003,GO:0000902,GO:0000904,GO:0001505,GO...",...,-,-,-,"ko00000,ko03000",-,-,-,"Homeobox,LIM","Homeobox_KN, Homeodomain, LIM",
4,Pele_DN1472_c0_g1_i1,6412.HelroP76830,3.2800000000000003e-43,152.0,"KOG0489@1|root,KOG0489@2759|Eukaryota,38B8X@33...",33208|Metazoa,K,DNA binding,HOXB7,"GO:0000003,GO:0000976,GO:0000977,GO:0000978,GO...",...,-,-,-,"ko00000,ko03000",-,-,-,Homeobox,Homeodomain,

Load data about gene expression clusters from Clust

In [5]:
clusters_homeo_df = {}
p = pathlib.Path(r'C:\worms\new\combined_annotations\cluster_info').glob('**/*')
files = [x for x in p if x.is_file()]
for cluter_file in files:
    clusters_homeo_df[cluter_file.stem.rstrip('_hom')] = pd.read_csv(cluter_file, sep=',')

Combine expression data and annotation

In [6]:
for species_site in clusters_homeo_df.keys():
    species, site = species_site.split('_')
    for column in clusters_homeo_df[species_site].columns:
        site_cluster = site+'_'+column
        if species == 'pdum':
            Pdum_homeobox_annotations.loc\
                [Pdum_homeobox_annotations['query'].isin(list(clusters_homeo_df[species_site][column].dropna())),'clusters'] += site_cluster
            Pdum_homeobox_annotations[site_cluster]\
                = Pdum_homeobox_annotations['query'].isin(list(clusters_homeo_df[species_site][column].dropna()))
                
        elif species == 'pel':
            Pele_homeobox_annotations.loc\
                [Pele_homeobox_annotations['query'].isin(list(clusters_homeo_df[species_site][column].dropna())),'clusters'] += site_cluster
            Pele_homeobox_annotations[site_cluster]\
                = Pele_homeobox_annotations['query'].isin(list(clusters_homeo_df[species_site][column].dropna()))

### Let's explore clusters with homeobox genes

In [9]:
Pele_homeobox_annotations['Preferred_name'].unique()

array(['NKX2-2', 'ZSWIM2', '-', 'HOXB7', 'VAX1', 'PBX1', 'pbx4', 'MSX2',
       'IRX3', 'MKX', 'ISL1', 'MEIS2', 'NKX2-3', 'HOXD12', 'PHTF1',
       'DLX1', 'ONECUT2', 'HOXB4', 'NKX2-1', 'PKNOX2', 'PDX1', 'POU6F2',
       'PRRX2', 'MNX1', 'PROP1', 'EVX2', 'MEOX2', 'ISX', 'NKX3-2',
       'POU4F2'], dtype=object)

In [10]:
Pdum_homeobox_annotations['Preferred_name'].unique()

array(['MEIS2', 'PKNOX2', 'TLX3', 'repo', 'EVX1', 'LHX1', 'CERS6',
       'NKX6-1', 'HHEX', 'HOXB7', 'NKX2-1', 'POU6F2', 'EN2', 'LBX1', '-',
       'UNCX', 'HLX', 'HOXA5', 'HOXB2', 'NKX2-3', 'IRX4', 'NKX1-1',
       'ISL1', 'ZEB2', 'NKX2-2', 'PHTF1', 'cad', 'IPO13', 'MKX', 'dve-1',
       'SIX2', 'CUX2', 'DLX1', 'PRRX1', 'EMX2', 'POU4F2', 'TGIF1',
       'PITX1', 'PBX1', 'MSX2', 'HOXA7', 'HOXB4', 'MNX1', 'ONECUT1',
       'CERS5'], dtype=object)

Clusters with homeobox genes

In [11]:
for species_site, df in clusters_homeo_df.items():
    print(species_site)
    print(df.isna().sum() != df.shape[0])

pdum_head
C0     True
C1     True
C2     True
C3    False
C4    False
C5    False
C6    False
C7     True
C8    False
dtype: bool
pdum_tail
C0     True
C1     True
C2     True
C3    False
dtype: bool
pel_head
C0     True
C1    False
C2    False
C3     True
C4     True
C5     True
C6     True
C7    False
dtype: bool
pel_tail
C0     True
C1     True
C2    False
C3     True
C4     True
C5    False
C6     True
C7     True
dtype: bool

HOX7-like, NKX-like and PBX-like genes show interesting patterns of expression after clustering, some of them expressed only during anterior regeneration (tail) or posterior regeneration (head)

In [49]:
Pdum_homeobox_annotations[Pdum_homeobox_annotations['Preferred_name'].str.contains('NKX')]\
    .groupby(['query','Preferred_name','clusters']).agg({'query':'count'})

                                                                                  query
query                                              Preferred_name clusters
Pdum_DN18748_c0_g1_i2                              NKX6-1                             1
Pdum_DN2241_c0_g1_i3                               NKX2-1         head_C0             1
Pdum_DN31695_c0_g1_i14                             NKX2-3         head_C0tail_C0      1
Pdum_DN51214_c0_g1_i6                              NKX1-1         head_C2             1
Pdum_DN5666_c1_g1_i1                               NKX2-2         head_C0             1
Pdum_NODE_60345_length_2007_cov_132_810133_g168... NKX2-2         head_C0             1
Pdum_NODE_63868_length_1925_cov_20_905449_g1790... NKX1-1                             1

In [111]:
Pdum_homeobox_annotations[Pdum_homeobox_annotations['Preferred_name'].str.contains('pbx', case=False)]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                         query
Preferred_name clusters
PBX1                         2
               head_C0       1

In [107]:
Pele_homeobox_annotations[Pele_homeobox_annotations['Preferred_name'].str.contains('pbx', case=False)]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
PBX1                               2
               head_C5tail_C1      1
               tail_C1             2
pbx4           tail_C0             1

In [119]:
Pdum_homeobox_annotations[Pdum_homeobox_annotations['Preferred_name'].str.contains('hox.*7', case=False)]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
HOXA7          head_C1tail_C1      1
HOXB7                              2
               head_C0             4

In [118]:
Pele_homeobox_annotations[Pele_homeobox_annotations['Preferred_name'].str.contains('hox.*7', case=False)]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
HOXB7                              1
               head_C3tail_C4      1
               tail_C1             1
               tail_C4             1

In [104]:
Pele_homeobox_annotations[Pele_homeobox_annotations['Preferred_name'].str.contains('NKX')]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
NKX2-1                             3
NKX2-2                             1
               tail_C7             1
NKX2-3         head_C3tail_C7      1
NKX3-2         head_C5tail_C0      1

In [120]:
Pdum_homeobox_annotations[Pdum_homeobox_annotations['Preferred_name'].str.contains('NKX')]\
    .groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
NKX1-1                             1
               head_C2             1
NKX2-1         head_C0             1
NKX2-2         head_C0             2
NKX2-3         head_C0tail_C0      1
NKX6-1                             1

In [89]:
Pele_homeobox_annotations.groupby(['Preferred_name','clusters']).agg({'query':'count'})

                               query
Preferred_name clusters
-                                  2
               head_C4             1
               tail_C0             1
DLX1                               1
EVX2                               2
HOXB4                              1
HOXB7                              1
               head_C3tail_C4      1
               tail_C1             1
               tail_C4             1
HOXD12         head_C3tail_C4      1
IRX3           head_C6tail_C1      1
ISL1                               1
ISX                                2
MEIS2                              5
MEOX2          head_C5tail_C0      1
MKX            tail_C3             2
               tail_C6             1
MNX1                               1
MSX2                               1
               tail_C0             1
NKX2-1                             3
NKX2-2                             1
               tail_C7             1
NKX2-3         head_C3tail_C7      1
NKX3-2         head_C5tail_C0      1
ONECUT2                            2
PBX1                               2
               head_C5tail_C1      1
               tail_C1             2
PDX1                               1
PHTF1                              1
PKNOX2         tail_C0             1
POU4F2                             1
               head_C5             1
POU6F2         head_C4             1
PROP1          head_C0             1
PRRX2          head_C4tail_C0      1
VAX1           tail_C0             1
ZSWIM2                             1
pbx4           tail_C0             1

saving combined annotation

In [11]:
Pdum_homeobox_annotations.to_csv('C:/worms/new/combined_annotations/pdum_homeo_clusters_added.csv',index=False)

In [12]:
Pele_homeobox_annotations.to_csv('C:/worms/new/combined_annotations/pele_homeo_clusters_added.csv',index=False)

### Extracting orthogroups with homeobox genes of interesting from proteinortho results for further phylogenetic analysis

In [14]:
results_tsv_file = r'C:\worms\new\proteinortho_results\summaries\12_species.proteinortho.tsv'
proteinortho_df = pd.read_csv(results_tsv_file, sep='\t')
proteinortho_df.head()

,# Species,Genes,Alg.-Conn.,Apime_pep.fasta,Biogl_pep.fasta,Capte_pep.fasta,Cragi_pep.fasta,Dimgy_pep.fasta,Helro_pep.fasta,Lotgi_pep.fasta,Myted_pep.fasta,Owefu_pep.fasta,Pdum_amin_av.fasta,Pele_amin_av.fasta,Pomca_pep.fasta
0,12,79,0.130,"tr|A0A7M7TEW6|A0A7M7TEW6_APIME,tr|A0A7M7TF59|A...","tr|A0A2C9JVG7|A0A2C9JVG7_BIOGL,tr|A0A2C9K3W4|A...","tr|R7VBM0|R7VBM0_CAPTE,tr|R7TKU8|R7TKU8_CAPTE,...","tr|K1PN21|K1PN21_CRAGI,tr|K1R7V7|K1R7V7_CRAGI,...","tr|A0A7I8V5G4|A0A7I8V5G4_9ANNE,tr|A0A7I8VRA9|A...","tr|T1FP49|T1FP49_HELRO,tr|T1G8V0|T1G8V0_HELRO,...","tr|V4AK06|V4AK06_LOTGI,tr|V4AP80|V4AP80_LOTGI,...","tr|A0A8S3RWK7|A0A8S3RWK7_MYTED,tr|A0A8S3QXJ8|A...","tr|A0A8J1XSR5|A0A8J1XSR5_OWEFU,tr|A0A8J1TCI4|A...",Pdum_NODE_70038_length_1792_cov_368_286947_g19...,Pele_NODE_65009_length_1834_cov_568_581488_g28...,tr|A0A2T7NK64|A0A2T7NK64_POMCA
1,12,66,0.258,"tr|A0A7M6UW32|A0A7M6UW32_APIME,tr|A0A7M7MKH4|A...","sp|P92179|ACTC_BIOGL,tr|A0A2C9JHE8|A0A2C9JHE8_...","tr|R7TPD2|R7TPD2_CAPTE,tr|R7TMG3|R7TMG3_CAPTE","tr|A0A8W8K574|A0A8W8K574_CRAGI,tr|A0A8W8M4F9|A...","tr|A0A7I8W774|A0A7I8W774_9ANNE,tr|A0A7I8VAG7|A...","tr|T1FQQ4|T1FQQ4_HELRO,tr|T1FMD2|T1FMD2_HELRO,...","tr|V4BC69|V4BC69_LOTGI,tr|V4B4D3|V4B4D3_LOTGI,...","tr|A0A8S3QH94|A0A8S3QH94_MYTED,tr|A0A8S3TVQ9|A...","tr|A0A8J1XVJ4|A0A8J1XVJ4_OWEFU,tr|A0A8J1UKN2|A...",Pdum_NODE_64838_length_1903_cov_75_402703_g146...,"Pele_DN43937_c0_g1_i16,Pele_NODE_104175_length...","tr|A0A2T7PW49|A0A2T7PW49_POMCA,tr|A0A2T7NL57|A..."
2,12,63,0.116,"tr|A0A7M7IKC6|A0A7M7IKC6_APIME,tr|A0A7M7R7R1|A...","tr|A0A2C9JGA9|A0A2C9JGA9_BIOGL,tr|A0A2C9JQK4|A...","tr|R7TF87|R7TF87_CAPTE,tr|R7TZN1|R7TZN1_CAPTE","tr|K1QC26|K1QC26_CRAGI,tr|A0A8W8NNG6|A0A8W8NNG...","tr|A0A7I8W7C6|A0A7I8W7C6_9ANNE,tr|A0A7I8W471|A...","tr|T1G3P4|T1G3P4_HELRO,tr|T1G3S4|T1G3S4_HELRO,...","tr|V4CC90|V4CC90_LOTGI,tr|V4A629|V4A629_LOTGI,...","tr|A0A8S3QPR1|A0A8S3QPR1_MYTED,tr|A0A8S3Q770|A...","tr|A0A8J1U5H0|A0A8J1U5H0_OWEFU,tr|A0A8S4QDI4|A...","Pdum_DN212_c0_g1_i11,Pdum_DN651_c0_g1_i12,Pdum...","Pele_DN11477_c0_g1_i7,Pele_DN11477_c0_g1_i13,P...","tr|A0A2T7NST7|A0A2T7NST7_POMCA,tr|A0A2T7Q019|A..."
3,12,55,0.116,"tr|A0A7M7H2E2|A0A7M7H2E2_APIME,tr|A0A7M7L4P4|A...","tr|A0A2C9JRZ8|A0A2C9JRZ8_BIOGL,tr|A0A2C9JS03|A...",tr|R7T3F9|R7T3F9_CAPTE,"tr|A0A8W8HKV7|A0A8W8HKV7_CRAGI,tr|A0A8W8HLG3|A...","tr|A0A7I8W6A3|A0A7I8W6A3_9ANNE,tr|A0A7I8W6H0|A...",tr|T1EET5|T1EET5_HELRO,tr|V3ZMJ2|V3ZMJ2_LOTGI,"tr|A0A8S3Q3J9|A0A8S3Q3J9_MYTED,tr|A0A8S3Q2D1|A...","tr|A0A8S4PW64|A0A8S4PW64_OWEFU,tr|A0A8J1Y8X9|A...","Pdum_DN1549_c0_g1_i19,Pdum_DN1549_c0_g1_i17,Pd...","Pele_DN42817_c0_g1_i17,Pele_NODE_9304_length_4...",tr|A0A2T7NEX5|A0A2T7NEX5_POMCA
4,12,50,0.141,"tr|A0A7M7SQ67|A0A7M7SQ67_APIME,tr|A0A7M7SQF4|A...",tr|A0A2C9JFZ1|A0A2C9JFZ1_BIOGL,tr|R7UY67|R7UY67_CAPTE,"tr|A0A8W8MVX4|A0A8W8MVX4_CRAGI,tr|K1R5S7|K1R5S...",tr|A0A7I8VF00|A0A7I8VF00_9ANNE,tr|T1FXX2|T1FXX2_HELRO,tr|V4B1X9|V4B1X9_LOTGI,"tr|A0A8S3SHN4|A0A8S3SHN4_MYTED,tr|A0A8S3SK91|A...","tr|A0A8J1U4R7|A0A8J1U4R7_OWEFU,tr|A0A8J1U698|A...","Pdum_DN1818_c0_g1_i11,Pdum_NODE_4564_length_61...","Pele_DN16530_c1_g1_i13,Pele_NODE_9278_length_4...",tr|A0A2T7PWY1|A0A2T7PWY1_POMCA

In [34]:
def get_all_orthologs(gene_name_pattern):
    indices = []
    pdum_genes = Pdum_homeobox_annotations\
        [Pdum_homeobox_annotations['Preferred_name'].str.contains(gene_name_pattern,case=False)]['query'].to_list()
    for gene in pdum_genes:
        if proteinortho_df[proteinortho_df['Pdum_amin_av.fasta'].str.contains(gene)].shape[0] != 0:
            indices.append(proteinortho_df[proteinortho_df['Pdum_amin_av.fasta'].str.contains(gene)].index[0])
            print(proteinortho_df[proteinortho_df['Pdum_amin_av.fasta'].str.contains(gene)].index[0])
        else:
            print('singletone')

    pele_genes = Pele_homeobox_annotations\
        [Pele_homeobox_annotations['Preferred_name'].str.contains(gene_name_pattern,case=False)]['query'].to_list()
    for gene in pele_genes:
        if proteinortho_df[proteinortho_df['Pele_amin_av.fasta'].str.contains(gene)].shape[0] != 0:
            indices.append(proteinortho_df[proteinortho_df['Pele_amin_av.fasta'].str.contains(gene)].index[0])
            print(proteinortho_df[proteinortho_df['Pele_amin_av.fasta'].str.contains(gene)].index[0])
        else:
            print('singletone')

    return ','.join([gene for gene in np.ravel(proteinortho_df.iloc[list(set(indices)),[3,4,5,6,7,8,9,10,11,14]].values) if gene != '*']\
        + pdum_genes\
        + pele_genes)

Saving genes from orthogroups of interest to extract fasta sequence with proteinortho grab_proteins.pl utility

In [37]:
genes_of_interest = ['hox.*7','pbx','nkx2']
for gene in genes_of_interest:
    with open(pathlib.Path(r'C:\worms\new\proteinortho_results\orthogroups_for_phylogeny.txt'), 'a') as orthogroups_file:
        orthogroups_file.write(gene+' '+get_all_orthologs(gene)+'\n')

21869
singletone
14079
singletone
singletone
15151
singletone
14079
14947
14947
14079
21
21
9595
21
21
21
singletone
singletone
21
5595
singletone
30569
4844
singletone
4844
singletone
singletone
singletone
5595